<meta name="viewport" content="width=device-width, initial-scale=1">

<div class='signin-page'></div>


<div class="entry-area">
  <img class='logo-home' src='https://s3-us-west-1.amazonaws.com/asco-jkh/layout/logo_asco_white_no_bg.png'><br>

  <div class="signin-errors">
    <% if flash[:errors] %>
      <% flash[:errors].each do |err| %>
        <%= err %>
      <% end %>
    <% end %><br><br>
  </div>

  <form action="<%= session_url %>" method="post">
    <%= auth_token_input %>
    <input type="text" name="user[email]" placeholder="Email" class="ffield" tabindex="1">
    <br>
    <br>

    <input type="password" name="user[password]" placeholder="Password" class="ffield" tabindex="2">
    <br>
    <br>

    <input type="submit" value="Sign In" class="btn enter" tabindex="3"><br><br>
  </form>
  <button class="btn guest-login grey">Guest Login</button><br>
  <%= link_to "Register", new_user_url, class: "btn grey" %><br>
  <a class="gh-link" href="http://www.github.com/jacobhamblin/asco">See on Github</a>
</div>

<% emails = %w(kyarypamyu@pamyu.jp hunter@gmail.com marco@polo.com eun@kim.io dsmith@gmail.com) %>

<script>
  $('.btn.guest-login.grey').click(function() {
    $("input[name='user[email]']").val('<%= emails.sample %>');
    $("input[name='user[password]']").val('password');
  })
</script>
