<div class="header">
  <a href="#users/<%= image.owner().id %>" class="image-show-title">
  <%= image.owner().escape('username') ? image.owner().escape('username') : image.owner().escape('email') %>
  </a>
</div>

<div class="image-show">
  <% if (prevImage) { %>
    <a href="#images/<%= prevImage.id %>" class="prev-image arrows"><img src="https://s3-us-west-1.amazonaws.com/asco-jkh/layout/Arrow.svg"></a>
  <% } %>
  <img src="<%= image.escape('url')%>" class="image">
  <% if (nextImage) { %>
    <a href="#images/<%= nextImage.id %>" class="next-image arrows"><img src="https://s3-us-west-1.amazonaws.com/asco-jkh/layout/Arrow.svg"></a>
  <% } %>
</div>
