<div class="header">
  <center>
    <a href="#users/<%= image.owner().id %>" class="image-show-title">
    <%= image.owner().escape('username') ? image.owner().escape('username') : image.owner().escape('email') %>
     &#8212 grid </a>
  </center>
</div>

<div class="image-show clearfix">
  <% if (prevImage) { %>
    <a href="#images/<%= prevImage.id %>" class="prev-image arrows"></a>
  <% } %>
  <img src="<%= image.escape('url')%>" class="image">
  <% if (nextImage) { %>
    <a href="#images/<%= nextImage.id %>" class="next-image arrows"></a>
  <% } %>
  <div class="image-description">
    <%= image.escape('description') %>
  </div>
</div>
