<div class='nav dropdown'>
  <img src='https://s3-us-west-1.amazonaws.com/asco-jkh/layout/icon_hamburger%402x.png'>
</div>

<div class='nav droppeddown'>
  <div class='nav droppeddown close'>
    <img src='https://s3-us-west-1.amazonaws.com/asco-jkh/layout/icon_close_26x26_white.png'>
  </div>

  <a class='droppeddown user-avatar' href="#users/<%= window.CURRENT_USER_ID %>">
    <img src="<%= window.CURRENT_USER_AVATAR %>">
  </a>

  <div class='droppeddown user-info'>

    <h2>
      <a href="#users/<%= window.CURRENT_USER_ID %>">
        <% if (window.CURRENT_USER_USERNAME != '') { %>
          <%= window.CURRENT_USER_USERNAME %>
        <% } else {%>
          <%= window.CURRENT_USER_EMAIL %>
        <% } %>
      </a>
    </h2>

  </div>

  <ul class='droppeddown links'>
    <li><a href='#feed'>Feed</a></li>
    <li><a href='#grid'>Grid</a></li>
    <li><a href='#search'>Search</a></li>
    <li><a href='session/delete'>Sign Out</a><li>
  </ul>
</div>

<div class='nav-usergrid'>
  <% if (images.first().owner().id != window.CURRENT_USER_ID) { %>
    <div class='nav-user'>
      <div class='nav-follow-toggle'>
        <% if (user.get('follow') == 'true') { %>
          <a href="javascript:void(0)>"
            <img src='https://s3-us-west-1.amazonaws.com/asco-jkh/layout/icon_follow_circle.png' class='nav-follow-icon followed'>
          </a>
        <% } else { %>
          <a href="javascript:void(0)">
            <img src='https://s3-us-west-1.amazonaws.com/asco-jkh/layout/icon_follow_plus.png' class='nav-follow-icon follow'>
          </a>
        <% } %>
      </div>
    </div>
  <% } %>
  <div class='view-toggle'>
    <% if ( style === 'grid' ) { %>
      <a class='grid-view-a' href="javascript:void(0)">
        <img src='https://s3-us-west-1.amazonaws.com/asco-jkh/layout/grid_view_icon.svg' class='grid-view'>
      </a>
    <% } else if ( style === 'vert' ){ %>
      <a class='grid-view-a' href='javascript:void(0)'>
        <div class='vert-box'></div>
      </a>
    <% } %>
  </div>
</div>

<div class='drop-menu-usergrid'>
  <img src='https://s3-us-west-1.amazonaws.com/asco-jkh/layout/icon_hamburger%402x.png'>
</div>

<div class="header-usergrid">
  <center>
  <% if (images.first()) { %>
    <img src="<%= images.first().owner().escape('avatar') %>" class="avatar-usergrid"><br>
    <span class="user-show-title"><%= images.first().owner().escape('username') ? images.first().owner().escape('username') :  images.first().owner().escape('email') %></span>
  <% } %>
  <div class='follow-space'></div>
  </center>
</div>

<div class="grida-images">
  <% if (images.length > 0) { %>
    <% images.each(function (image) { %>
      <div class="item">
        <a class="image-item-a" href="#/images/<%= image.id %>"><img class="image-item" src="<%= image.escape('url') %>"></a>
      </div>
    <% }); %>
  <% } %>
</div>

<div class="vert-images">
  <br>
  <% if (images.length > 0) { %>
    <% images.each(function (image) { %>
      <div class="item user-show">
        <a class="image-item-a" href="#/images/<%= image.id %>"><img class="image-item" src="<%= image.escape('url') %>"></a>
        <div class="image-description user-show">
          <%= image.escape('description') %>
          <% image.tags().each(function(tag) { %>
            <a href="#" class="image-tag">
              #<%= tag.escape('title') %>
            </a>
          <% }) %>
        </div>
      </div>
    <% }); %>
  <% } %>
</div>
