<div class="header-usergrid">
  <center>
  <% if (images.first()) { %>
    <img src="<%= images.first().owner().escape('avatar') %>" class="avatar-usergrid"><br>
    <span class="user-show-title"><%= images.first().owner().escape('username') ? images.first().owner().escape('username') :  images.first().owner().escape('email') %></span>
  <% } %>
  </center>
</div>

<div class="grida-images">
    <% images.each(function (image) { %>
    <div class="item">
      <a class="image-item-a" href="#/images/<%= image.id %>"><img class="image-item" src="<%= image.escape('url') %>"></a>
      <a href="" class="image-owner">
      <% if (image.owner().escape('username')) { %>
        <%= image.owner().escape('username') %>
      <% } else { %>
        <%= image.owner().escape('email') %>
      <% } %></a>
    </div>
  <% }); %>
</div>
