<!DOCTYPE html>
<html>
<head>
  <title>asco</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
  <script charset="utf-8">
    Asco.AUTH_TOKEN = "<%= form_authenticity_token %>";
  </script>
  <% if !!current_user %>
    <script>
      window.CURRENT_USER_ID = <%= current_user.id %>
      window.CURRENT_USER_USERNAME = "<%= current_user.username %>";
      window.CURRENT_USER_EMAIL = "<%= current_user.email %>";
      window.CURRENT_USER_AVATAR = "<%= current_user.avatar %>";
    </script>

  <% end %>
  <link rel="icon"
      type="image/png"
      href="https://s3-us-west-1.amazonaws.com/asco-jkh/layout/favicon.ico">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
